html{
  font-family: Arial;
}

body {margin:0;
  min-width: 500px;
  background: gray;
  }

/* Menü */
#menu ul {
  position: fixed;
  width: 100%;
display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  font-family: Arial;
  top: 0;


}
#menu li {
  float: left;
}
#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 1.0s;
}
#menu li a:hover {
  background-color: #232e70;
  transition: 0.3s;
}
#menu img {
  margin-top: 46px;
  width: 100%;
  display: block;
  height: 300px;
  object-fit: cover;
}

/* Tartalom */
#tartalom {
  max-width: 1300px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  border-right: 10px solid white;
  border-left: 10px solid white;
}

#tartalom h1{
  text-align: center;
  color: white;
  font-size: 64px;
  text-shadow: 0 0 5px black, 0 0 12px black, 0 0 18px black ;
}
#tartalom h2{
  text-align: center;
  color: #333333;
  font-size: 45px;
  font-weight: normal;
  margin-top: -40px;
}

/*keret*/
.keret{

  
}

/* Lábléc */
#footer {
width: 100%;
background-color: #333333;
height: 190px;
bottom:0;
border-top: 1px solid #333333;


}
 #footer p {
   text-align: center;
   color: gray;
 }
 #footer table {
   padding-left: 30px;
   padding-right: 30px;
   margin-top: 30px;
   width: 1300px;
   display: block;
   margin-left: auto;
   margin-right: auto;

}
#footer td{


 }

#footer img {
  max-height: 100px;
  min-height: 80px;
}
