html{
  font-family: Arial;
}

body {margin:0;
  min-width: 500px;
  }

/* Menü */
#menu ul {
  position: fixed;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  font-family: Arial;
  top: 0;

}
#menu li {
  float: left;
  transition: 0.6s;
}
#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.6s;
}
#menu li a:hover {
  background-color: #232e70;
  transition: 0.6s;
}

/* Tartalom */
.tartalom {
margin-top: 46px;
  max-width: 1300px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* Lábléc */
#footer {
width: 100%;
background-color: #333333;
position:absolute;
bottom:0;

}
 #footer p {
   text-align: center;
   color: white;
 }
 #footer table {
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 30px;
 }

#footer img {
  max-height: 100px;
  min-height: 80px;
}
